<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Tran Van Trung</title>
</head>
<body>
     <h1>Xin chao ca lo nha minh nhe</h1>
</body>
</html>